head {
font-family:Verdana;
font-size:13px;
color:#FFFFFF;
font-weight:bold;
}

body {
font-family:Verdana;	
font-size:10px;
color:#cccccc; 

}

a {
color:#ff0000;
font-family:Verdana; 
font-size:16px;
}